.tech-list {
  background-color: rgba(33, 37, 41, 1);
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 20px auto 0 auto;
  padding: 15px;
  border-radius: 5px;
  gap: 15px;
  max-width: 800px;
}

.techs {
  display: flex;
  justify-content: space-between;
  padding: 15px 5%;
  background-color: rgba(18, 18, 20, 1);
  border-radius: 5px;
}

.tech-info {
  display: flex;
  gap: 15px;
  font-size: 0.8rem;
  align-items: center;
}

.trash-btn {
  font-size: 1rem;
}

.tech-status {
  color: rgba(134, 142, 150, 1);
}
